/* Add mobile styles for the component here.  */
.rev-label {
  margin-top: 50px;
  font-size: 30px;
}

.rev-title{
  margin-top: 40px;
  font-size: 16px;
}

.rev-value{
  margin-top: 15px;
  font-size: 12px;
}
