<StackLayout>
  <Label class="title" text="Command:"></Label>
  <TextField (textChange)="updateCommand($event)"></TextField>

  <Label class="title" text="Command sent:"></Label>
  <Label class="value" text="{{command}}"></Label>

  <Label class="title" text="Response array:"></Label>
  <Label class="value" text="{{responseArray}}"></Label>

  <Label class="title" text="Response string"></Label>
  <Label class="value" text="{{responseString}}"></Label>

  <Label text="Available value" class="rev-title text-center"></Label>
  <Label text="{{available}}" class="rev-value"></Label>

  <Label text="Calculated" class="rev-title text-center"></Label>
  <Label text="{{value}}" textWrap="true" class="rev-value"></Label>

  <Button (tap)="sendCommand()" text="Send command"></Button>
  <Button (tap)="readResponse()" text="Read response"></Button>
</StackLayout>
