/* Add mobile styles for the component here.  */
FlexboxLayout {
    flex-flow: column;
    align-content: center;
    align-items: center;

    Label {
        margin-top: 100px;
        margin-bottom: 150px;
        text-align: center;
        font-size: 20em;
    }

    Button {
         padding: 70px;
         margin: 20px;
         width: 70%;
     }
}

