/* Add mobile styles for the component here.  */
FlexboxLayout {
  flex-flow: column;
  align-content: center;
  align-items: center;

  Label {
    text-align: center;

    &.title {
      margin-top: 100px;
      text-align: center;
      font-size: 32px;
    }

    &.connected-device-info {
      margin-top: 50px;
      margin-bottom: 100px;
      font-size: 14px;
    }
  }

  Button {
    //padding: 70px;
    margin: 15vh;
    width: 75%;
    height: 200px;
    font-size: 24px;
    border-radius: 200px;
    background-color: white;
    border-style: solid;
    border-color: #2f6fad;
    border-width: 15px;
    font-weight: 500;
  }
}

