<StackLayout>
  <Label text="Aktualne obroty" class="rev-title rev-text"></Label>
<!--  <Label text="{{ revs }}" class="rev-value text-center"></Label>-->

<!--  <Label text="Calculated" class="rev-title text-center"></Label>-->

  <ns-value-bar [value]="revValue" maxValue="7000" scaleDivisors="7"></ns-value-bar>

  <StackLayout height="800px">
    <RadRadialGauge>
      <RadialScale tkRadialGaugeScales minimum="0" maximum="7000"
                   radius="0.90">
        <ScaleStyle tkRadialScaleStyle majorTicksCount="8"
                    minorTicksCount="9" lineThickness="3" labelsCount="8" labelsOffset="0.18"
                    ticksOffset="0.02"></ScaleStyle>
        <RadialBarIndicator tkRadialScaleIndicators minimum="0"
                            maximum="1000" location="0.97">
          <BarIndicatorStyle tkRadialBarIndicatorStyle
                             fillColor="#dddddd"></BarIndicatorStyle>
        </RadialBarIndicator>
        <RadialBarIndicator tkRadialScaleIndicators minimum="1000"
                            maximum="2000" location="0.97">
          <BarIndicatorStyle tkRadialBarIndicatorStyle
                             fillColor="#9DCA56"></BarIndicatorStyle>
        </RadialBarIndicator>
        <RadialBarIndicator tkRadialScaleIndicators minimum="2000"
                            maximum="3000" location="0.97">
          <BarIndicatorStyle tkRadialBarIndicatorStyle
                             fillColor="#c7ca58"></BarIndicatorStyle>
        </RadialBarIndicator>
        <RadialBarIndicator tkRadialScaleIndicators minimum="3000"
                            maximum="4000" location="0.97">
          <BarIndicatorStyle tkRadialBarIndicatorStyle
                             fillColor="#F0C44D"></BarIndicatorStyle>
        </RadialBarIndicator>
        <RadialBarIndicator tkRadialScaleIndicators minimum="4000"
                            maximum="5000" location="0.97">
          <BarIndicatorStyle tkRadialBarIndicatorStyle
                             fillColor="#f09c3f"></BarIndicatorStyle>
        </RadialBarIndicator>
        <RadialBarIndicator tkRadialScaleIndicators minimum="5000"
                            maximum="6000" location="0.97">
          <BarIndicatorStyle tkRadialBarIndicatorStyle
                             fillColor="#E27633"></BarIndicatorStyle>
        </RadialBarIndicator>
        <RadialBarIndicator tkRadialScaleIndicators minimum="6000"
                            maximum="7000" location="0.97">
          <BarIndicatorStyle tkRadialBarIndicatorStyle
                             fillColor="#A7010E"></BarIndicatorStyle>
        </RadialBarIndicator>
        <RadialNeedle tkRadialScaleIndicators [value]="revValue" >
        </RadialNeedle>
      </RadialScale>
    </RadRadialGauge>
  </StackLayout>

  <Label text="{{revs}}" textWrap="true" class="rev-value text-center rev-text"></Label>
  <Button text="Start" class="stop-start-btn" (tap)="getRevs()" *ngIf="!isIntervalActive"></Button>
  <Button text="Stop" class="stop-start-btn" (tap)="stopRevs()" *ngIf="isIntervalActive"></Button>



</StackLayout>
