/* Add mobile styles for the component here.  */
:host {
  Button {
    padding: 30px;
    margin: 25px 0 20px 0;
    width: 50%;

    font-size: 14px;
    border-radius: 100px;
    background-color: white;
    border-style: solid;
    border-color: #2f6fad;
    border-width: 10px;

    &.discover-devices-btn {
      margin-top: 50px;
      width: 60%;
      background-color: #b0c7d8;
    }
  }

  ListView {
    background: #f2f2f2;
    height: 60%;

    .device-row {
      background: #e5f1e3;
      font-size: 18px;
      width: 100%;
      vertical-align: center;
      padding: 25px 50%;
    }

    .selected {
      background: #cfdacd;
    }

    .connected {
      background: #beecba;
      font-weight: bold;
    }
  }

  .discovering {
    background: #b0c7d8;
  }

  Label {
    color: black;
    width: 80%;

    &.connection-info {
      margin: 30px;
      text-align: center;
      color: #AAAAAA;
    }
  }
}
