<StackLayout>
  <Button text="Wyszukaj urządzenia" class="discover-devices-btn" (tap)="searchDevices()"
          *ngIf="!isDiscovering"></Button>
  <Button text="Zatrzymaj wyszukiwanie" class="discover-devices-btn" (tap)="stopSearching()"
          *ngIf="isDiscovering"></Button>

  <ListView #devicesListView [items]="devices">
    <ng-template let-item="item">
      <Label (tap)="selectDevice(item)" text="{{item.getAddress()}} [{{item.getName()}}]" class="device-row"
             [ngClass]="{selected: item === selectedDevice, connected: item === connectedDevice}"></Label>
    </ng-template>

  </ListView>
  <ActivityIndicator #loader busy="{{isDiscovering}}"></ActivityIndicator>

  <Button text="Połącz" (tap)="connectToSelectedDevice()" isEnabled="{{selectedDevice != undefined}}"></Button>
  <Label text="Połączono z urządzeniem: {{bluetoothNativeConnectionService.connectedDevice?.getName()}}"></Label>
  <Button text="Odczytaj obroty" [nsRouterLink]="['/obd']"></Button>
  <Button text="Logi transmisji" [nsRouterLink]="['/bt-test']"></Button>
</StackLayout>
