/* Add mobile styles for the component here.  */
Button {
    padding: 70px;
    margin-top: 50px;
    width: 55%;
}

ListView {
    background: #fafafa;
    height: 50%;
}

.device-row {
    background: #e5f1e3;
    font-size: 18px;
    width: 100%;
    vertical-align: center;
    padding: 25px 50%;
}

.selected {
    background: #cfdacd;
}

.connected {
    background: #beecba;
    font-weight: bold;
}

.discovering {
    background: #b0c7d8;
}

Label {
    color: black;
    width: 80%;
}
